@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
	--background: #f6f6f6;
	--text-primary: #111827;
	--surface: rgba(255, 255, 255, 0.82);

	font-family: 'Nunito', sans-serif;
	background-color: var(--background, #f6f6f6);
	transition: background-color 0.5s;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	color: var(--text-primary);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
